img {
    object-fit: cover;
    width: 50%;
    height: 50%;
}

h6 {
    font-weight: 400;
    font-size: .9rem;
}

p {
    font-size: .8rem;
}

.container {
    -webkit-box-shadow: -7px 10px 18px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -7px 10px 18px 0px rgba(0, 0, 0, 0.75);
    box-shadow: -7px 10px 18px 0px rgba(0, 0, 0, 0.75);
}